{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "no-unused-expressions": 0,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
