* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  background-color: #212126;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#control-panel {
  display: block; /* Default display */
  width: 20%;
  background-color: #1f1f26;
}

#viewer {
  width: 80%;
  background: radial-gradient(circle, #42424d, #212126);
}

@media (max-width: 768px) {
  #control-panel {
    display: none; /* Hide on mobile */
  }
  #viewer {
    width: 100%;
  }
}
