* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #303035;
}

.loading {
  white-space: nowrap;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.annotation {
  font-family: sans-serif;
  background-color: #fff;
  white-space: nowrap;
}
