* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #303035;
}

.loading {
  white-space: nowrap;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* The container that holds the circle */
.annotation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

/* The circle */
.annotation .circle {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid white;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 11px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}

/* The label */
.annotation .circle .label {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  white-space: nowrap;
}

.annotation.disabled .circle {
  opacity: 10%;
  transition: opacity 0.25s ease-in-out;
  cursor: default;
  pointer-events: none;
}

.annotation.disabled .circle .label {
  pointer-events: none;
}

.annotation.no-fade .circle {
  transition: opacity 0s;
}
