.loading {
  white-space: nowrap;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body.dragging {
  cursor: grabbing;
}

/* The container that holds the circle */
.annotation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 0px;
  cursor: grabbing;
}

/* The circle */
.annotation .circle {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 11px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}

.annotation .circle:hover {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}

/* The label */
.annotation .circle .label {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  white-space: nowrap;
  user-select: none;
}

.annotation.facing-away .circle {
  opacity: 20%;
  transition: opacity 0.25s ease-in-out;
  /* cursor: default; */
  /* pointer-events: none; */
}

.annotation.facing-away .circle .label {
  /* pointer-events: none; */
}

.annotation.no-fade .circle {
  transition: opacity 0s;
}

.measurement-point {
  fill: white;
  stroke: black;
  touch-action: none;
}

.measurement-point:hover {
  fill: cornflowerblue;
}

.measurement-label {
  width: 80px;
  height: 30px;
  user-select: none;
}

.measurement-label.hidden {
  display: none;
}

.measurement-label > div {
  background-color: white;
  padding: 2px;
  text-align: center;
  color: black;
  font-size: small;
}

.angle-label {
  width: 60px;
  height: 30px;
}

.angle-label > div {
  background-color: white;
  padding: 2px;
  text-align: center;
  color: black;
  font-size: small;
}
